body {
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 2px solid white;
}

#score-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-family: Arial;
}
